{
    "presets": [
      ["env", {
        "targets": {
          "browsers": ["last 2 Chrome versions"]
        }
      }],
      "flow",
      "stage-0"
    ],
    "plugins": [
      "transform-object-assign"
    ]
  }
